<div class="container text-center mt-5">
  <div class="card shadow">
    <div class="card-header">
      <h1>Todo App - list</h1>
    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter todo" required #newTodo>
        <button class="btn btn-success" type="button" (click)="addTodos(newTodo.value)">Add todo</button>
      </div>
      <hr>
      <div class="conatiner">
        <table class="table border">
          <tr>
            <th>Title</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let todo of todos; let i = index">
            <td>{{todo.title}}</td>
            <td><button class="btn btn-danger" (click)="deleteTodos(i)">delete</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>